@page "/"

@{
    var roomLink = "Room/" + Guid.NewGuid();
}

<PageTitle>Home</PageTitle>

<h1>Hello!</h1>

Welcome

<NavLink class="nav-link" href="@roomLink">
    <span class="" aria-hidden="true"></span> Room
</NavLink>