small {
    font-size: .6rem
}

.cell-grid {
    display: grid;
    grid-template-columns: 0.8rem auto 0.8rem;
    grid-template-rows: 0.8rem 4rem 0.8rem;
    width:100%;
    gap: 1px;
}

.cell-top {
    grid-row: 1;
    grid-column: 2;
    height: 100%;
    width: 100%; 
}

.cell-bottom {
    grid-row: 3;
    grid-column: 2;
    height: 100%;
    width: 100%; 
}

.cell-left {
    grid-row: 2;
    grid-column: 1;
    height: 100%;
    width: 100%; 
}

.cell-right {
    grid-row: 2;
    grid-column: 3;
    height: 100%;
    width: 100%; 
}

.cell-content {
    grid-row: 2;
    grid-column: 2; 
}
