.board-grid {
    display: grid;
    gap: 0;
    z-index: 1;
    width: min-content;
}

.grid-item {
    border: 1px solid #aaa;
}

.cell {
    /*background: green;*/
    width: 4rem;
    height: 4rem;
}

.wall {
    /*background: red;*/
}

    .wall.vertical {
        width: 0.7rem;
        height: 4rem;
    }

    .wall.horizontal {
        width: 4rem;
        height: 0.7rem;
    }

.corner {
    /*background: blue;*/
    width: 0.7rem;
    height: 0.7rem;
}
