@rendermode InteractiveServer
@code {
    [Parameter] public CellAddress CellAddress { get; set; } = default!;
    [Parameter] public RoomViewModel Room { get; set; } = default!;

    protected CellViewModel Cell => Room.Board.Cells[CellAddress];
    protected string CellName => Room.Board.Cells[CellAddress].ToString();
    protected PlayerViewModel? CellPlayer => Room.GetPlayer(CellAddress);
}

<div class="text-center p-1 bg-light w-100 h-100">
    <small class="d-block">
        @CellName
    </small>
    <PlayerDraw Player="CellPlayer" />
</div>