@attribute [StreamRendering]
@rendermode InteractiveServer
@inject IPlayerService playerService

@code {
    [Parameter]
    public RoomViewModel Room { get; set; } = default!;
    protected Player? player;

    protected override bool ShouldRender()
    {
        return player is not null;
    }

    protected override async Task OnInitializedAsync()
    {
        player = await playerService.GetPlayer();
    }
}

<fieldset>
    <legend>Players</legend>
    <ul>
        @if (Room.Player1 is not null)
        {
            <li> 
                @if (player?.Id == Room.Player1.Id)
                {
                    <small class="pill">YOU</small>
                } 
                @{
                    var style = $"color: {ColorHelper.GetHex(Room.Player1!.Color)}";
                }
                <small class="pill" style="@style">Player 1</small>
                @Room.Player1.Name
                @if (Room.CurrentPlayer is not null && Room.CurrentPlayer == Room.Player1)
                {
                    <small class="pill">TURN</small>
                }
            </li>
        }
        @if (Room.Player2 is not null)
        {
            <li>
                @if (player?.Id == Room.Player2.Id)
                {
                    <small class="pill">YOU</small>
                } 
                @{
                    var style = $"color: {ColorHelper.GetHex(Room.Player2!.Color)}";
                }
                <small class="pill" style="@style">Player 2</small>
                @Room.Player2.Name
                @if (Room.CurrentPlayer is not null && Room.CurrentPlayer == Room.Player2)
                {
                    <small class="pill">TURN</small>
                }
            </li>
        }
    </ul>
</fieldset>