@rendermode InteractiveServer
@inject IPlayerService playerService
@code {
    [Parameter] public PlayerViewModel? Player { get; set; }
    private Player? _player;

    protected override async Task OnInitializedAsync()
    {
        _player ??= await playerService.GetPlayer();
    }

    protected string GetCssClass() => _player?.Id == Player?.Id ? "cursor" : "";
}

@if (Player is not null)
{ 
    <div class="@GetCssClass()">
        <span class="" style="font-size: 2rem; color: @ColorHelper.GetHex(Player.Color); ">
            ♟︎
        </span>
    </div>
}
