@code {
    [Parameter]
    public RoomViewModel Room { get; set; } = default!;
}

@if (Room.GetSpectators().Any())
{
    <fieldset>
        <legend>Spectators</legend>
        <ul>
            @foreach (var spectator in Room.GetSpectators())
            {
                <li>@spectator.UserName</li>
            }
        </ul>
    </fieldset>
}